@charset "utf-8";

/* reset */
html{ font-family:'Noto Sans KR', sans-serif; font-size:14px; }
body{ background-color:#fff; color:rgb(29,29,31); letter-spacing:-0.05em; overflow-x:hidden; }
body.before-load{ overflow:hidden; }

p{ line-height:1.6; }
a{ color:rgb(29, 29, 31); text-decoration:none; }

.container{ overflow-x:hidden; /* iPhone에서 가로 스크롤 방지 */ }

.loading{ position:fixed; top:0; left:0; right:0; bottom:0; display:flex; align-items:center; justify-content:center; background-color:#fff; z-index:100; transition:0.5s; opacity:0; }
.loading-circle{ width:54px; height:54px; animation:loading-spin 3s infinite; }
.loading-circle circle{stroke:#000; stroke-width:4; stroke-dasharray:157; stroke-dashoffset:0; fill:transparent; animation:loading-circle-ani 1s infinite; }
/* document.querySelector('.loading-circle circle').getTotalLength(); 로 값을 얻어올 수 있음 */
/* transition:1s; .loading-circle:hover circle { stroke-dashoffset: -157; } */

.before-load .container{ display:none; } /* 다 안보이다가 로드가 끝나면 보이게끔 */
.before-load .loading{ opacity:1; }

@keyframes loading-spin {
	100% { transform: rotate(360deg); }
}
@keyframes loading-circle-ani {
	0% { stroke-dashoffset: 157; }
	75% { stroke-dashoffset: -147; }
	100% { stroke-dashoffset: -157; }
}

/* gnb */
.global-nav{ width:100%; height:44px; padding:0 1rem; position:absolute; top:0; left:0; z-index:10; }
.global-nav-links, .local-nav-links{ max-width:1080px; height:100%; margin:0 auto; display:flex; align-items:center; }
.global-nav-links{ justify-content:space-between; }

/* nav */
.local-nav{ width:100%; height:52px; padding:0 1rem; border-bottom:1px solid #ddd; position:absolute; top:45px; left:0; z-index:11; }
.local-nav-links a{ font-size:0.8rem; }
.local-nav-links a:not(.product-name){ margin-left:2em; } /* 여집합 빼고 */
.local-nav-links a.product-name{ margin-right:auto; font-size:1.4rem; font-weight:900; } /* margin 여백생김 */

.local-nav-sticky .local-nav{ position:fixed; top:0; background-color:rgba(255, 255, 255, 0.1); -o-backdrop-filter:saturate(180%) blur(15px); -moz-backdrop-filter:saturate(180%) blur(15px); -webkit-backdrop-filter:saturate(180%) blur(15px); backdrop-filter:saturate(180%) blur(15px); }

/* section */
.scroll-section{ padding-top:50vh; position:relative; } /* 30-12.3번씬이 시작할때까지의 몇픽셀인지 position 바꿔주기 */

#scroll-section-0 h1{ position:relative; top:-10vh; font-size:4rem; font-weight:900; text-align:center; z-index:10; }
.main-message{ margin:5px 0; height:3em; display:flex; align-items:center; justify-content:center; top:35vh; font-size:2.5rem; opacity:0;}
.main-message p{ line-height:1.2; font-weight:700; text-align:center; }

.description{ max-width:1080px; margin:0 auto; padding:0 1rem; font-size:1.2rem; color:#888; }
.description strong{ margin-right:0.2em; /*3rem의 0.2배*/ float:left; font-size:3rem; color:rgb(29,29,31); }

#scroll-section-2 .main-message{ font-size:3.5em; font-weight:900; text-align:center; }
.main-message small{ margin-bottom:0.5em; display:block; font-size:1.2rem; }
.desc-message{ width:50%; font-weight:700; opacity:0; }
.pin{ width:1px; height:100px; background-color:rgb(29,29,31); }

#scroll-section-2 .b{ top:10%; left:40%; }
#scroll-section-2 .c{ top:15%; left:45%; }
.mid-message{ width:1080px; margin:0 auto 30vh; padding:0 1rem; font-size:2rem; font-weight:700; color:#888; }
.mid-message strong{ color:rgb(29,29,31); }
.canvas-caption{ max-width:1080px; margin:-24rem auto 0; padding:0 1rem; font-size:1.2rem; color:#888; text-align:left; }

.footer{ height:7rem; display:flex; align-items:center; justify-content:center; background-color:darkorange; color:rgb(29,29,31); }

#scroll-section-3 { display:flex; flex-direction:column; align-items:center; }

/* animation */
.sticky-elem{ width:100%; display:none; position:fixed; left:0; }/* top:0; */
#show-scene-0 #scroll-section-0 .sticky-elem, 
#show-scene-1 #scroll-section-1 .sticky-elem, 
#show-scene-2 #scroll-section-2 .sticky-elem, 
#show-scene-3 #scroll-section-3 .sticky-elem{ display:block; will-change:transform, opacity; }

.scroll-effect-end .sticky-elem{ display: none !important; }

.sticky-elem-canvas{ height:100%; top:0; z-index:-1; }
.sticky-elem-canvas canvas{ position:absolute; top:50%; left:50%; }
.image-blend-canvas.sticky{ position:fixed; } 

.normal-content{ margin-bottom:10rem; }

@media (min-width: 1024px){
    #scroll-section-0 h1{ font-size:9vw; }
    .main-message{ font-size:4vw; }

    .description{ font-size:2rem; }
    .description strong{ font-size:6rem; }

    #scroll-section-2 .main-message{ font-size:6vw; }
    .main-message small{ font-size:1.5vw; }

    #scroll-section-2 .b{ top:20%; left:53%; }
    #scroll-section-2 .c{ left:55%; }
    
    .desc-message{ width:20%; font-size:1rem; }
    .mid-message{ font-size:3.4vw; } /* 창 가변폰트 */
    .canvas-caption{ margin-top:6rem; font-size:2rem; } /* 14*2 고정폰트 */
}

@media (max-width: 400px){
    .desc-message{ width:auto; }
}